<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link rel="stylesheet" type="text/css" href="{% static "styles/confirm_reset_password.css"%}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css"
        integrity="sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="{% static 'js/confirm_reset_password.js' %}"></script>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://www.google.com/recaptcha/api.js?render={{site_key}}"></script>
        <script>
          grecaptcha.ready(function() {
              $('#contactform').submit(function(e){
                  var form = this;
                  e.preventDefault()
                  grecaptcha.execute('{{site_key}}', {action: 'contactform'}).then(function(token) {
                      $('#recaptcha').val(token)
                      form.submit()
                  });
              })
          });
         </script>


    <link rel="icon" href="{% static "images/favicon-32x32.png" %}">
</head>
<body>
    
    <video class="bg-video" src="{% static "images/vd1.mp4" %}" muted loop autoplay></video>
    
    <div class="div-frame">
        <div class="top-info-messaging-box">
            {% include 'messaging.html' %}
        </div>
        <h1 id="company-title">Senity Security Systems</h1>
        <h2 id="title">Change password</h2>
        
        <form action="{% url 'confirm_reset_password' uidb64=uidb64 token=token %}" method="POST" id="contactform">
            {% csrf_token %}
            <input type="hidden" name="g-recaptcha-response" id='recaptcha'>
            <div class="input-container">
                <input class="text-input" id='new_password1' type="password" autocomplete="off" placeholder="Enter your password"
                    name="new_password1" required>
                <label class="label" for="new_password1">Password</label>
                <div class="icons-div">
                    <div class="div-show-icon">
                        <i class="far fa-eye" id='showPassword1'></i>
                    </div>
                    <div class="div-clear-icon">
                        <i class="fa-regular fa-circle-xmark" id='clearMark_2'></i>
                    </div>
                </div>
                <div class="help_messages">
                    <div class="info_box_message_icon">
                        <i class="fa-solid fa-circle-info"></i>
                    </div>
                    <div class="info_box_message">
                        {{form.new_password1.help_text}}
                    </div>
                </div>
                
            </div>
            <div class="input-container">
                <input class="text-input" id='new_password2' type="password" autocomplete="off" placeholder="Confirm your password"
                    name="new_password2" required>
                <label class="label" for="new_password2">Confirm password</label>
                <div class="icons-div">
                    <div class="div-show-icon">
                        <i class="far fa-eye" id='showPassword2'></i>
                    </div>
                    <div class="div-clear-icon">
                        <i class="fa-regular fa-circle-xmark" id='clearMark_3'></i>
                    </div>
                </div>
                <div class="help_messages">
                    <div>
                        <i class="fa-solid fa-circle-info"></i>
                    </div>
                    <div class="info_box_message">
                        {{form.new_password2.help_text}}
                    </div>
                </div>
                
            </div>
            <div class="input-container" id="btn_sub">
                <button class="btn-submit" type="submit">
                    <a>Submit</a>
                </button>
            </div>
        </form>
    </div>
    
</body>
</html>