<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
    <link rel="stylesheet" type="text/css" href="{% static "styles/password_reset.css"%}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.css"
        integrity="sha512-FA9cIbtlP61W0PRtX36P6CGRy0vZs0C2Uw26Q1cMmj3xwhftftymr0sj8/YeezDnRwL9wtWw8ZwtCiTDXlXGjQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script defer src="{% static 'js/password_reset.js' %}"></script>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://www.google.com/recaptcha/api.js?render={{site_key}}"></script>
        <script>
          grecaptcha.ready(function() {
              $('#contactform').submit(function(e){
                  var form = this;
                  e.preventDefault()
                  grecaptcha.execute('{{site_key}}', {action: 'contactform'}).then(function(token) {
                      $('#recaptcha').val(token)
                      form.submit()
                  });
              })
          });
         </script>

    <link rel="icon" href="{% static "images/favicon-32x32.png" %}">
</head>
<body>
    <video class="bg-video" src="{% static "images/vd1.mp4" %}" muted loop autoplay></video>
    <div class="div-frame">
        <div class="top-info-messaging-box">
            {% include 'messaging.html' %}
        </div>
        <h1 id="company-title">Senity Security Systems</h1>
        <h2 id="title">Password reset</h2>
        
        <form action="" method="POST" id="contactform">
            {% csrf_token %}
            <input type="hidden" name="g-recaptcha-response" id='recaptcha'>
            <div class="input-container">
                <input class="text-input" id="email" type="email/text" autocomplete="off" placeholder="Enter your email address" name="email" required>
                <label class="label" for="E-mail address">E-mail address</label>
                <div class="icons-div">
                    <div class="div-clear-icon">
                        <i class="fa-regular fa-circle-xmark" id='clearMark'></i>
                    </div>
                </div>
            </div>
            <div class="info-messages">
            </div>
            <div class="layout-box">
                <div class="reg-acc">
                    <a class="registration-redirect" href="{% url 'registration' %}" >Don't have an account?</a>
                </div>
                <div class="reg-acc">
                    <a class="registration-redirect" href="{% url 'login' %}" >Already registered?</a>
                </div>
            </div>
            <div class="input-container" id="btn_sub">
                <button class="btn-submit" type="submit">
                    <a>Submit</a>
                </button>
            </div>
            
        </form>
    </div>
    
</body>
</html>